# Variables for Running Taxprofiler bash script 
DatabaseSheet=/medstore/Development/Metagenomics/TaxProfiler/TestSamples_FromMicro/TaxprofilerRun/Scripts/Taxprofiler-Metagenomics/database_sheet.csv
taxdumpgz=/medstore/databases/taxprofiler/databases/taxpasta_taxonomy/taxdump.tar.gz
hostindex=/medstore/databases/taxprofiler/databases/GRCH38/
hostfasta=/medstore/databases/taxprofiler/databases/GRCH38/Homo_sapiens.GRCh38.dna.toplevel.canonical.fa
MandaloreConfig=/medstore/Development/Metagenomics/TaxProfiler/TestSamples_FromMicro/TaxprofilerRun/Scripts/Taxprofiler-Metagenomics/configs/Mandalore_Taxprofiler.config
# Variables For the Parser
DepthTresh=10
