// Mandalore Config for Taxprofiler
// Cannot use scrath=true, error message about the mounting

// Diamond is running medium process, test setting in to blastx
// MaxForks make sure we are only queing n processes of that process. Good with large memory
// Set queuesize so we are not queing to many procesess
// All with high have a maxfork of 1, not optional, might be better to have one per node but then it seems we need to define which node we are running the process on, to avoid the three high process ones (bowtie, kraken2, krakenuniq) to run on the same node!

process {
    executor='sge'
    penv='mpi'

    withLabel:process_single {
        cpus   = 1
        memory = 100.GB
        time   = 200.h
    }
    withLabel:process_low {
        cpus   = 2
        memory = 200.GB
        time   = 200.h
    }
    withLabel:process_medium {
        cpus   = 6
        memory = 200.GB
        time   = 200.h
    }
    withLabel:process_high {
        maxForks = 1
        cpus   = 12
        memory = 200.GB
        time   = 200.h
    }
    withLabel:process_long {
        time   = 200.h
    }
    withLabel:process_high_memory {
        maxForks = 1
        memory = 200.GB
    }
    withName:DIAMOND_BLASTX {
        maxForks = 10
        //queue = 'pathfinder.q@kuat.medair.lcl'
	queue = 'development.q@yavin.medair.lcl'
        cpus   = 6
        memory = 50.GB
        time   = 200.h

    }
}


executor {
   queueSize=20
}
