// Mandalore Config for Taxprofiler
// Cannot use scrath=true, error message about the mounting

process {
    executor='sge'
    penv='mpi'
    queue = 'development.q'
    //clusterOptions = '-l excl=1,h_rt=100:00:00'
    //cpus = 5
    
    withLabel:process_single {
        cpus   = 1
        memory = 100.GB
        time   = 200.h
    }
    withLabel:process_low {
        cpus   = 2
        memory = 200.GB
        time   = 200.h
    }
    withLabel:process_medium {
        cpus   = 6
        memory = 200.GB
        time   = 200.h
    }
    withLabel:process_high {
        cpus   = 12
        memory = 200.GB
        time   = 200.h
    }
    withLabel:process_long {
        time   = 200.h
    }
    withLabel:process_high_memory {
        memory = 200.GB
    }
}